*{

    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.hero{
     position:relative ;
     width:100%;
     height: 100vh;
     background: #0559f4;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content:space-between ;
}

nav ul li{

    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
 
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{

    color: red;
}



.me{

    width: 0%;
    height: 8%;
    position: right;
    bottom: 0;
    left: 4px;

} 

 .container {
    position: relative;
  }
  
  .center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
/*   
  img { 
    width: 100%;
    height: auto;
    opacity: 4;
  } */

  .container {
    position: relative;
    font-family: Arial;
  }
  
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(232, 9, 244);
    color: rgb(171, 9, 174);
    padding-left: 40px;
    padding-right: 20px;
  }

  .banner-card{

position: relative;

  }
  .banner-card img{

    max-width: 100%;
    height: auto;

  }
  .banner-text{
position: absolute;
top: 4;
color: rgb(22, 18, 22);
padding: 400px;

  }

  /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: rgb(223, 226, 223);
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  /*  */

  .wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 60ch;
    animation: typing 5s steps(22), blink .2s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  /* .img
  {
      width: 50px;
      height: 50px;
      position: relative;
      overflow: hidden;
  }
  .img
  {
      position: absolute;
      top: 0px;
      left: -50%;
      max-width: 30px;
      height: auto;
  } */


  *{
      padding: 0;
      margin: 0;
  }

  .containers{

    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }

  .comtainers p {
margin-bottom: 15px;

  }
  .thumbanail{
      width: 450px;
      position: relative;
      box-shadow: 0 0 5px rgbx(0,0,0,.4);
      background-color: aliceblue;
      overflow: hidden;
      border-radius: 8px;
      margin-bottom: 10px;
  }


  .thumbanail::before{
      content: '';
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 8px solid #fff;
      z-index: 2;
      box-sizing: border-box;
  }
  .thumbanail img {

width: 100%;
height: auto;
border-radius: 8px;
transform: scale(1) rotate (0deg) ;
transition: all .5s linear;

  }
  .thumbanail:hover img{
transform: scale(1.1) rotate(-5deg);

  }

  .thumbanail.right{

    float: right;
    margin: 20px;
  }


  #footer {
    padding: 0 px;
    background:rgb(245, 242, 242);
    bottom:0px;
    right:0px;
    left:0px;
    position:fixed;
    box-shadow: 0px 0px 0px 0px #e00707;

    }
    #footer p {
    margin: 0;
    padding: 0px 0;
}

/* footer */

/* .fa {
    padding: 6px;
    font-size: 6px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 10px 2px;
  }
  
  .fa:hover {
      opacity: 0.2;
  }
  
  .fa-facebook {
    background: #040404;
    color: rgb(239, 236, 236);
  }
  
  .fa-twitter {
    background: #161717;
    color: white;
  }
  
  
  .fa-linkedin {
    background: #111112;
    color: white;
  }
  
  
  .fa-instagram {
    background: #111212;
    color: white;
  }


  .fa-github {
    background: #111212;
    color: white;
  } */
